*.class

# Eclipse project
.classpath
.project
.settings
target

# Package Files
*.jar
*.war
*.ear
test-output

# Intellij
/.idea
/*.iml

# Sublime
/sublime.project.sublime-*

# Mac
.DS_Store